@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";

}

.counterDisplay h1 {
  text-align: center;
  color:orange;
  padding-top: 50px;
  padding-bottom: 20px;
}

.counterDisplay h2 {
  text-align: center;
  color:orange;
  padding-top: 10px;
  padding-bottom: 20px;
}

.counterDisplay button {
  display: block;
  margin: auto;
  color: black;
  background-color: greenyellow;
  cursor: pointer;
  margin-bottom: 15px;
}